
<div class="cont">
    <h1>Digital Egypt Builders Initiative</h1>
    <div class="infoo">
        <p><strong>Trainee Name:</strong> Fawzy Fathy</p>
        <p><strong>Track:</strong> .NET</p>
        <p><strong>Faculty:</strong> Computers and Information</p>
        <p><strong>GPA:</strong> Good</p>
        <p><strong>Year:</strong> Fourth</p>
    </div>
    <div class="skills">
        <h3>Skills acquired from the initiative:</h3>
        <ul>
            <li>C#</li>
            <li>Database</li>
            <li>LINQ</li>
            <li>EF Core</li>
            <li>ASP.NET Web API</li>
            <li>ASP.NET Web MVC</li>
        </ul>
    </div>
</div>

<style>
    .cont {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        text-align: center;
    }

    h1 {
        color: #2c3e50;
    }

    .infoo {
        margin-bottom: 20px;
    }

        .infoo p {
            margin: 5px 0;
            font-weight: bold;
        }

    .skills {
        text-align: left;
    }

        .skills ul {
            padding-left: 20px;
        }

        .skills li {
            margin: 5px 0;
        }
</style>

